In [210]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [211]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [212]:
data_train.head()

,region_area_,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,region_area_1,3.716080,180.196811,18630.362669,6.330435,NaN,602.990359,15.285013,56.444076,4.500656,0
1,region_area_100,4.270716,217.611599,24405.555346,7.086700,297.951852,359.623910,13.583526,54.589840,3.763906,0
2,region_area_1000,6.648849,232.462013,30733.808648,5.656462,344.670335,267.809179,17.863444,35.411181,4.827527,0
3,region_area_1001,NaN,261.753637,21174.713291,7.314074,NaN,582.848407,15.215849,90.367455,4.217553,0
4,region_area_1002,9.323584,263.484560,15751.480111,5.196259,297.593625,409.878704,10.727265,74.669285,3.006650,0

In [213]:
data_train.isnull().sum()

region_area_         0
ph                 336
Hardness             0
Solids               0
Chloramines          0
Sulfate            547
Conductivity         0
Organic_carbon       0
Trihalomethanes    111
Turbidity            0
Potability           0
dtype: int64

In [214]:
data_test.isnull().sum()

region_area_         0
ph                 155
Hardness             0
Solids               0
Chloramines          0
Sulfate            234
Conductivity         0
Organic_carbon       0
Trihalomethanes     51
Turbidity            0
dtype: int64

In [215]:
#problems
# null values
# imbalance dataset


null_values_columns = ["ph", "sulfate", "Trihalomethanes"]

In [216]:
data_train.value_counts(data_train["Potability"])

Potability
0    1382
1     878
dtype: int64

In [217]:
data_test.head()

,region_area_,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,region_area_0,NaN,255.664346,20791.623791,6.995401,369.261555,574.413654,10.484783,87.105970,2.963135
1,region_area_10,7.360640,216.294688,32452.919220,7.245890,327.369467,435.488419,15.691810,78.855016,3.662292
2,region_area_1006,7.230845,228.348694,17864.994196,5.513418,344.338446,377.794992,20.017950,59.418053,5.622018
3,region_area_1010,4.797460,241.089018,21280.551369,5.883692,327.539307,367.541193,11.818821,63.978068,4.038503
4,region_area_1011,9.319176,250.107456,14294.545161,7.480130,366.796865,348.546450,15.320293,63.506468,4.129230

In [218]:
# dropping the region_area_ column

data_train = data_train.drop(columns="region_area_", axis=1)

In [219]:
data_test = data_test.drop(columns="region_area_", axis=1)

In [220]:
data_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,3.716080,180.196811,18630.362669,6.330435,NaN,602.990359,15.285013,56.444076,4.500656,0
1,4.270716,217.611599,24405.555346,7.086700,297.951852,359.623910,13.583526,54.589840,3.763906,0
2,6.648849,232.462013,30733.808648,5.656462,344.670335,267.809179,17.863444,35.411181,4.827527,0
3,NaN,261.753637,21174.713291,7.314074,NaN,582.848407,15.215849,90.367455,4.217553,0
4,9.323584,263.484560,15751.480111,5.196259,297.593625,409.878704,10.727265,74.669285,3.006650,0

In [221]:
data_test.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,NaN,255.664346,20791.623791,6.995401,369.261555,574.413654,10.484783,87.105970,2.963135
1,7.360640,216.294688,32452.919220,7.245890,327.369467,435.488419,15.691810,78.855016,3.662292
2,7.230845,228.348694,17864.994196,5.513418,344.338446,377.794992,20.017950,59.418053,5.622018
3,4.797460,241.089018,21280.551369,5.883692,327.539307,367.541193,11.818821,63.978068,4.038503
4,9.319176,250.107456,14294.545161,7.480130,366.796865,348.546450,15.320293,63.506468,4.129230

In [222]:
#fixing the missing value problem 

from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
data_imputed = pd.DataFrame(my_imputer.fit_transform(data_train))

data_imputed.columns = data_train.columns

In [223]:
test_data_imputed = pd.DataFrame(my_imputer.fit_transform(data_test))
test_data_imputed.columns = data_test.columns

In [224]:
data_imputed.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,3.716080,180.196811,18630.362669,6.330435,334.601013,602.990359,15.285013,56.444076,4.500656,0.0
1,4.270716,217.611599,24405.555346,7.086700,297.951852,359.623910,13.583526,54.589840,3.763906,0.0
2,6.648849,232.462013,30733.808648,5.656462,344.670335,267.809179,17.863444,35.411181,4.827527,0.0
3,7.083561,261.753637,21174.713291,7.314074,334.601013,582.848407,15.215849,90.367455,4.217553,0.0
4,9.323584,263.484560,15751.480111,5.196259,297.593625,409.878704,10.727265,74.669285,3.006650,0.0

In [225]:
test_data_imputed.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
dtype: int64

In [226]:
data_imputed.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [227]:
x = data_imputed.drop(columns="Potability", axis=1)
y = data_imputed["Potability"]

In [228]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()

x_scaled = pd.DataFrame(sc.fit_transform(x))
x_scaled.columns = x.columns

In [229]:
scaled_test_data = pd.DataFrame(sc.fit_transform(test_data_imputed))
scaled_test_data.columns = test_data_imputed.columns

In [230]:
scaled_data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,-2.287023e+00,-2.014920,-0.393153,-0.296658,0.000000,2.064035,0.280811,-0.628218,0.683966,-0.797064
1,-1.910342e+00,-0.886430,0.261073,0.178383,-0.997443,-0.954371,-0.235202,-0.744751,-0.264164,-0.797064
2,-2.952341e-01,-0.438517,0.977951,-0.720008,0.274047,-2.093124,1.062777,-1.950065,1.104620,-0.797064
3,-6.032060e-16,0.444965,-0.104923,0.321206,0.000000,1.814220,0.259835,1.503752,0.319639,-0.797064
4,1.521311e+00,0.497173,-0.719279,-1.009080,-1.007193,-0.331075,-1.101426,0.517175,-1.238683,-0.797064

In [231]:
y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2255    0.0
2256    0.0
2257    0.0
2258    0.0
2259    0.0
Name: Potability, Length: 2260, dtype: float64

In [232]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [233]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [234]:
lr = LogisticRegression()
sv = SVC(kernel="rbf")
rf = RandomForestClassifier()

In [240]:
lr.fit(x_train, y_train)
ypred_lr = lr.predict(x_test)

In [241]:
model.score(x_train, y_train)

0.6039823008849557

In [237]:
score = accuracy_score(y_test, ypred_lr)
score

0.6415929203539823

In [243]:
sv.fit(x_train, y_train)
pred_sv = sv.predict(x_test)
f1_score(y_test, pred_sv)

0.0

In [247]:
sub = pd.read_csv("SampleSubmission.csv")
pred_sub = lr.predict(scaled_test_data)

In [248]:
sub["Potability"] = pred_sub

In [252]:
sub["Potability"].value_counts()

1.0    756
0.0    260
Name: Potability, dtype: int64

In [253]:
sub.to_csv("submission1", index=False)